{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ photo.image.url }}" alt="{{ photo.title }}">
                <div class="card-body">
                    <p class="card-text">{{ photo.title }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}